<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>📝 나의 Todo List</h1>

<form th:action="@{/todos}" method="post">
    <input type="text" name="title" placeholder="할 일을 입력하세요" required>
    <button type="submit">추가</button>
</form>

<ul>
    <li th:each="todo : ${todos}">
        <span th:text="${todo.title}">할 일</span>
        <form th:action="@{/todos/delete/{id}(id=${todo.id})}" method="post" style="display:inline">
            <button type="submit">삭제</button>
        </form>
    </li>
</ul>
</body>
</html>
